<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/boggle.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/boggle2.js"></script>
  </head>

<body>
  <div class="container">
    <div class="board">
        <div class="square embossed">
        </div>
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        <div class="square embossed">
        </div>
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        <div class="square embossed">
        </div>
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        <div class="square embossed">
        </div>
        <div class="square embossed">
        </div>    
        <div class="square embossed">
        </div>    
        <div class="square embossed">
      </div>
    </div>
  </div>
 
 <button id="shake">Shake!</button>

  <div id="answer">
  </div>
  <button id="submit">Submit</button>

 <button id="clear">Clear</button>
</body>
</html>
